<launch>
	<node pkg="chip_bldc_driver" type="bldc_driver_node" name="motor_driver_0">
		<param name="port" value="/dev/ttyMOTOR0" />
	</node>

	<node pkg="chip_bldc_driver" type="bldc_driver_node" name="motor_driver_1">
		<param name="port" value="/dev/ttyMOTOR1" />
	</node>
<!--
	<node pkg="chip_bldc_driver" type="bldc_driver_node" name="motor_driver_2">
		<param name="port" value="/dev/ttyMOTOR2" />
	</node>

	<node pkg="chip_bldc_driver" type="bldc_driver_node" name="motor_driver_3">
		<param name="port" value="/dev/ttyMOTOR3" />
	</node>
-->

	<node pkg="hydraOne_base" type="controller.py" name="master_controller"/>
</launch>
