<launch>

    <!-- Back USB Camera -->
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
        <param name="brightness" value="32" />
        <param name="saturation" value="100" />
		<param name="camera_info_url" value="package://camera/calibration/backcam.yml" />
	</node>

	<node pkg="tf" type="static_transform_publisher" name="back_camera_offset_publisher" args="0.23 0.013 0.22 -1.5707963268 3.1415926 1.5707963268 /base_link /usb_cam 100" />
</launch>